[submodule "blazer-gtk3.0"]
	path = blazer-gtk3.0
	url = https://github.com/pdtxie/blazer-gtk3.0.git
[submodule "blazer-obsidian"]
	path = blazer-obsidian
	url = https://github.com/pdtxie/blazer-obsidian.git
