<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.0D38A105-FDA2-4E02-9B09-828D2FE1EF98</string>
	<key>lightthemeuid</key>
	<string>theme.custom.ECC439C8-9929-4321-A869-C9A957EC7765</string>
</dict>
</plist>
